.user-card{
    width: 624px;
    height: 391px;
    border-radius: 21px;
    background-color: #F5F5F5;
    display: flex;
    position: relative;
}
.logo{
    width: 245px;
    height: 245px;
    border-radius: 50%;
}
.image-card{
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    padding-left: 53px;
    padding-right: 53px;
    padding-bottom: 94px;
    p{
        font-family: 'Roboto' ,sans-serif !important;
        font-style: normal;
        font-variant: normal;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
    }
}
.login-sign{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .but-div{
        width: 70%;
        div{
            font-family: 'Roboto' ,sans-serif !important;
        font-style: normal;
        font-variant: normal;
        font-size: 25px;
        line-height: 33px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        }
    }
    .form-content{
        width: 70%;
        margin-top: 20px;
        .inputs{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            label{
                font-family: 'Roboto' ,sans-serif !important;
                font-style: normal;
                font-variant: normal;
                font-size: 10px;
                line-height: 13px;
                font-weight: normal;
            }
            input{
                padding:8px;
            }
        }
    }
}
.but-div{
    display: flex;
    justify-content: space-between;
}
.login-main{
    width: 387px;
    height: 423px;
    border-radius: 6px;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    margin-top: -19px;
    opacity: 1;
    position: absolute;
    left: 350px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rect{
    background-color: #a03037;
    width: 22px;
    height: 5px;
    border-radius: 4px;
    border: none;
}
.but-cs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#password{
    border: none;
    width: 100%;
    &:focus-visible{
        outline: none;
    }
}
.pass-div{
    display: flex;
    width: 99%;
    border: 1px solid rgb(118,118,118);
    border-radius: 2px;
    height: 36px;
    mat-icon{
        align-self: center;
        margin-right: 5px;
        color: #9d9d9d;
    }
}
.sign-but{
    width: 100%;
    margin-bottom: 38px;
    button{
        background-color: #a03037;
        border: none;
        border-radius: 3px;
        height: 37px;
        width: 100%;
        color: white;
        font-family: 'Roboto' ,sans-serif !important;
        font-style: normal;
        font-variant: normal;
        font-size: 15px;
        line-height: 20px;
        font-weight: normal;
        text-align: center;
    }
}
.or-option
{
    align-items: center;
    display: flex; 
    justify-content: center;
    margin: 10px 0px;
    .or-content{
        display: flex; 
        align-items: center; 
        justify-content: center;
        width: 191px;
        p{
            padding: 0px 13px;
            font-family: 'Roboto' ,sans-serif !important;
            font-style: normal;
            font-variant: normal;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
        }
    }
}
.mat-divider
{
    width: 30%;
    color: #c5c2c2;
}
.or-option button
{
    width: 119px;
    height: 37px;
    border-radius: 3px;
    font-family: 'Roboto' ,sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-size: 12px;
    line-height: 16px;
    &:nth-child(1)
    {
        background-color: #4266B2;
        color: white;
        margin-right: 7px;
    }
    &:nth-child(2)
    {
        background-color: #F5F5F5;
        color: black;
        border: 1px solid #E4E4E4;
    }
}
.forgot-password
{
    text-align:end;
    color: #9D9D9D;
    padding-top: 3px;
    cursor: pointer;
}
.login-but
{
    width: 100%;
    margin-bottom: 20px;
    button{
        background-color: #a03037;
        border: none;
        border-radius: 3px;
        height: 37px;
        width: 100%;
        color: white;
        font-family: 'Roboto' ,sans-serif !important;
        font-style: normal;
        font-variant: normal;
        font-size: 15px;
        line-height: 20px;
        font-weight: normal;
        text-align: center;
        cursor: pointer;
    }
}