<div style="display: flex; justify-content: center;margin-top: 140px;">
    <div class="user-card">
        <mat-card class="image-card">
            <img class="logo" src="../../../assets/2766594.png" alt="">
            <p>ONLINE BOOK SHOPPING</p>
        </mat-card>
        <mat-card class="login-main">
            <div class="login-sign">
                <div class="but-div">
                    <div class="but-cs" (click)="signup=false" [ngStyle]="signup?{'color':'#878787'}:{'color':'black'}">
                        Login
                        <button class="rect" *ngIf="!signup"></button>
                    </div>
                    <div class="but-cs" (click)="signup=true" [ngStyle]="!signup?{'color':'#878787'}:{'color':'black'}">
                        SignUp
                        <button class="rect" *ngIf="signup"></button>
                    </div>
                </div>
                <div class="form-content" *ngIf="signup">
                    <div class="inputs">
                        <label for="fullname">FullName</label>
                        <input type="text" name="fullname" id="fullname">
                    </div>
                    <div class="inputs">
                        <label for="email">Email Id</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="inputs">
                        <label for="password">Password</label>
                        <div class="pass-div">
                            <input type="password" name="password" id="password" [type]="hide?'password':'text'">
                            <mat-icon (click)="hide=!hide">{{hide?'visibility':'visibility_off'}}</mat-icon>
                        </div>
                    </div>
                    <div class="inputs">
                        <label for="phone">Mobile Number</label>
                        <input type="tel" name="phone" id="phone">
                    </div>
                    <div class="sign-but">
                        <button>Signup</button>
                    </div>
                </div>
                <div class="form-content" *ngIf="!signup">
                    <div class="inputs">
                        <label for="email">Email Id</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="inputs">
                        <label for="password">Password</label>
                        <div class="pass-div">
                            <input type="password" name="password" id="password" [type]="hide?'password':'text'">
                            <mat-icon (click)="hide=!hide">{{hide?'visibility':'visibility_off'}}</mat-icon>
                        </div>
                        <label class="forgot-password">Forgot Password?</label>
                    </div>
                    <div class="login-but">
                        <button>Login</button>
                    </div>
                    <div class="or-option" >
                        <div class="or-content">
                            <mat-divider class="mat-divider"></mat-divider>
                            <p>OR</p>
                            <mat-divider  class="mat-divider"></mat-divider>
                        </div>
                    </div>
                    <div class="or-option">
                        <button mat-raised-button>Facebook</button>
                        <button mat-raised-button>Google</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>